<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>




<div class="container pt-5">
    <center>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <a href="{{ name }}" download="fare sheet"><button class="btn btn-outline-theme ">Download PDF</button></a>
                </div>
            </div>
        </div>

    </center>

</div>


<script src="static/js/form.js"></script>
</body>
</html>



